* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    width: 100%;
    height: 200px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 15px;
    position: relative;
}

.logo {
    width: 350px;
    height: auto;
    position: absolute;
    top: 0px;
    left: 20px;
}

nav a {
    color: black;
    margin: 0 10px;
    align-items: center;
    text-decoration: none;
}

section {
    padding: 40px;
    text-align: center;
}

#services .service {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px auto;
    max-width: 300px;
}

button {
    padding: 10px 20px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

footer {
    background: #f4f4f4;
    text-align: center;
    padding: 15px;
}