body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

header {
    width: 100%;
    height: 140px;
    background-color: #ffffff;
    box-shadow: 0 50px 50px rgba(23, 22, 22, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 15px;
    top: 0;
    position: fixed;
    z-index: 1000;
}

.logo {
    width: 340px;
    height: auto;
    position: absolute;
    top: 0px;
    left: 20px;
}


.nav-links a {
    color: black;
    margin: 0 10px;
    align-items: center;
    text-decoration: none;
    display: inline-block;
    transition: all 0.1s ease;
}

.nav-links a:hover {
    color: #20048d;
    text-decoration: underline;
    transform: scale(1.2);
}

main {
    padding-top: 160px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hero {
    background: url('assets/images/pexels-arturoaez225-13637878.jpg') no-repeat center center/cover;
    color: rgb(255, 255, 255);
    padding: 100px 20px;
    text-align: center;
    width: 100%;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
}

.intro {
    background: rgba(43, 143, 70, 0.341);
    margin: 0px 180px;
    padding: 1em;
    backdrop-filter: blur(5px) saturate(150%);
    border-radius: 20px;
}

.service-highlights {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
}

li {
    margin-bottom: 10px;
}

hr {
    border: none;
    height: 2px;
    background-color: #20048d;
    width: 90%;
    margin: 50px auto;
}

@media (max-width: 720px)  {
    header {
        height: 110px;
    }
    .logo {
        width: 220px;
        height: auto;
        position: absolute;
        top: 0px;
        left: 10px;
        }
    
    .navbar {
        background-color: #ffffff;
        width: 2rem;
        position: absolute;
        top: 40px;
        right: 50px;
    }

    .nav-toggle {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        width: 25px;
        height: 20px;
        justify-content: space-between;
    }
    .nav-toggle span {
        width: 100%;
        height: 3px;
        background-color: #464343;
        transition: all 0.3s ease;;
        }

    .nav-links {
        display: none ;
        flex-direction: row;
        width: 100%;
        margin-top: 1rem;
        position: absolute;
        top: 10px;
        right: 200px;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links a {
        margin: 5px 0;
        padding: 5px;
        text-align: center;
        border-bottom: 1px solid #20048d;
    }

    .nav-toggle.active span:nth-child(1) {
        transform:rotate(45deg) translate(5px, 5px)
    }

    .nav-toggle.active span:nth-child(2) {
        opacity: 0;
    }

    .nav-toggle.active span:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px);
    }

    main {
        padding-top: 100px;
    }

    .intro {
        margin: 0px 20px;
    }
}



section {
    padding: 40px;
    text-align: center;
}

#services .service {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px auto;
    max-width: 300px;
}

button {
    padding: 10px 20px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

footer {
    background: #f4f4f4;
    text-align: center;
    padding: 15px;
}